In [50]:
import pandas as pd
import numpy as np

### Q1. Pandas version

In [5]:
pd.__version__

'2.3.2'

In [7]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [8]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2. Records count

In [11]:
df.shape[0]

9704

### Q3. Fuel types

In [15]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [16]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

### Q4. Missing values

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

### Q5. Max fuel efficiency

In [20]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

### Q6. Median value of horsepower

In [31]:
# median 1
df['horsepower'].median()

149.0

In [32]:
# most frequent value
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [33]:
df.fillna(value={'horsepower': 152})['horsepower'].median()

152.0

### Q7. Sum of weights

In [44]:
X = df[df['origin'] == 'Asia'].loc[:, ['vehicle_weight', 'model_year']].iloc[0:7].to_numpy()

In [49]:
XTX = X.T @ X

In [53]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [57]:
w = (np.linalg.inv(XTX) @ X.T) @ y

In [58]:
w.sum()

np.float64(0.5187709081074025)